@model WibuHub.ApplicationCore.Entities.Chapter

<div class="p-3">
    <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <strong>Xác nhận:</strong> Bạn có chắc chắn muốn xóa chương này không?
    </div>

    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Story)
            </dt>
            <dd class="col-sm-8 fw-bold">
                @(Model.Story?.StoryName ?? "-")
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ChapterNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ChapterNumber)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Slug)
            </dt>
            <dd class="col-sm-8 text-danger">
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Hủy bỏ</button>
            <form id="deleteForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <button type="button" onclick="deleteChapter('@Model.Id')" class="btn btn-danger">
                    Xác nhận xóa
                </button>
            </form>
        </div>
    </div>
</div>
