@model WibuHub.ApplicationCore.Entities.Story

<div class="p-3">
    <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <strong>Xác nhận:</strong> Bạn có chắc chắn muốn xóa truyện này không?
    </div>

    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StoryName)
            </dt>
            <dd class="col-sm-8 fw-bold">
                @Html.DisplayFor(model => model.StoryName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AlternativeName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AlternativeName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-8">
                @(Model.Author?.Name ?? "-")
            </dd>

            <dt class="col-sm-4">
                Danh mục
            </dt>
            <dd class="col-sm-8">
                @(Model.StoryCategories != null && Model.StoryCategories.Any(sc => sc.Category != null)
                                ? string.Join(", ", Model.StoryCategories.Where(sc => sc.Category != null).Select(sc => sc.Category!.Name))
                                : "-")
            </dd>
        </dl>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Hủy bỏ</button>
            <form id="deleteForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <button type="button" onclick="deleteStory('@Model.Id')" class="btn btn-danger">
                    Xác nhận xóa
                </button>
            </form>
        </div>
    </div>
</div>