@model WibuHub.ApplicationCore.Entities.Author

<div class="p-3">
    <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <strong>Confirm:</strong> Are you sure you want to delete this author?
    </div>

    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8 fw-bold">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-4">
                Slug (URL)
            </dt>
            <dd class="col-sm-8 text-danger">
                @Model.Slug
            </dd>
        </dl>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
            <form id="deleteForm">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <button type="button" onclick="deleteAuthor('@Model.Id')" class="btn btn-danger">
                    Confirm Delete
                </button>
            </form>
        </div>
    </div>
</div>
